html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #000;
  font-family: "Liberation Sans", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans", sans-serif;
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('/fonts/LiberationSans-Bold-webfont.eot');
  src: local('☺'), url('/fonts/LiberationSans-Bold-webfont.woff') format('woff'), url('/fonts/LiberationSans-Bold-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Liberation Sans';
  src: url('/fonts/LiberationSans-BoldItalic-webfont.eot');
  src: local('☺'), url('/fonts/LiberationSans-BoldItalic-webfont.woff') format('woff'), url('/fonts/LiberationSans-BoldItalic-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-BoldItalic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: 'Liberation Sans';
  src: url('/fonts/LiberationSans-Italic-webfont.eot');
  src: local('☺'), url('/fonts/LiberationSans-Italic-webfont.woff') format('woff'), url('/fonts/LiberationSans-Italic-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-Italic-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Liberation Sans';
  src: url('/fonts/LiberationSans-Regular-webfont.eot');
  src: local('☺'), url('/fonts/LiberationSans-Regular-webfont.woff') format('woff'), url('/fonts/LiberationSans-Regular-webfont.ttf') format('truetype'), url('/fonts/LiberationSans-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}

#container {
  position: absolute;
  left: 50%;
  top: 50%;
}

#canvas {
  width: 100%;
  height: 100%;
}

/* #upload {*/
/*   position: absolute;*/
/*   width: 100%;*/
/*   height: 8%;*/
/*   bottom: 0;*/
/* }*/

#progress_bar {
  margin: 10px 0;
  padding: 3px;
  border: 1px solid #000;
  font-size: 14px;
  clear: both;
  opacity: 0;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}

#progress_bar.loading {
  opacity: 1.0;
}

#progress_bar .percent {
  background-color: #99ccff;
  height: auto;
  width: 0;
}

/* Slideout */
#slideout {
  position: fixed;
  top: 40px;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

  z-index: 100;
  color: #fff;
  width: 35px;
  padding: 12px 0 20px 0;
  background: rgba(0, 33, 95, 0.5);
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

#slideout h1 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  font-size: 18px;
}

#slideout_inner {
  position: fixed;
  top: 40px;
  left: -250px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

  background: rgba(0, 33, 95, 0.5);
  width: 200px;
  padding: 25px;
  height: 130px;
  text-align: left;
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}

#slideout:hover {
  left: 250px;
}

#slideout:hover #slideout_inner {
  left: 0;
}
